name: WARP VPN

on:
  push:
  workflow_dispatch:

jobs:
  vpn:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install WARP
        run: |
          curl https://pkg.cloudflareclient.com/pubkey.gpg | sudo gpg --dearmor -o /usr/share/keyrings/cloudflare-warp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/cloudflare-warp-archive-keyring.gpg] https://pkg.cloudflareclient.com/ $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/cloudflare-client.list
          sudo apt update
          sudo apt install -y cloudflare-warp

      - name: Start warp service
        run: |
          sudo warp-svc &
          sleep 5

      - name: Accept TOS
        run: |
          yes | warp-cli registration new

      - name: Connect WARP
        run: |
          warp-cli mode warp
          warp-cli connect
          sleep 10
          warp-cli status

      - name: Check IP
        run: |
          echo "IP after VPN:"
          curl ifconfig.me
