name: AlimVPN

on:
  push:
    branches:
      - main

jobs:
  vpn-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install OpenVPN
        run: sudo apt update && sudo apt install -y openvpn

      - name: Create VPN config file
        run: |
          echo "${{ secrets.OVPN_CONFIG }}" > vpn.ovpn

      - name: Create auth file
        run: |
          echo "vpnbook" > vpn.auth
          echo "ab9mkvp" >> vpn.auth

      - name: Start VPN
        run: sudo openvpn --config vpn.ovpn --auth-user-pass vpn.auth --daemon

      - name: Check IP
        run: curl ifconfig.me
