name: WARP VPN

on:
  push:
  workflow_dispatch:

jobs:
  vpn:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install WARP
        run: |
          curl https://pkg.cloudflareclient.com/pubkey.gpg | sudo gpg --yes --dearmor -o /usr/share/keyrings/cloudflare-warp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/cloudflare-warp-archive-keyring.gpg] https://pkg.cloudflareclient.com/ $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/cloudflare-client.list
          sudo apt update
          sudo apt install -y cloudflare-warp

      - name: Connect WARP
        run: |
          sudo warp-cli --accept-tos register
          sudo warp-cli --accept-tos set-mode warp
          sudo warp-cli --accept-tos connect
          sleep 8
          warp-cli status

      - name: Check IP
        run: |
          echo "IP after VPN:"
          curl ifconfig.me
