name: CI with VPN

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install WireGuard
        run: |
          sudo apt update
          sudo apt install -y wireguard

      - name: Setup WireGuard config
        run: |
          echo "${{ secrets.WIREGUARD_CONFIG }}" > wg0.conf
          sudo mv wg0.conf /etc/wireguard/wg0.conf
          sudo chmod 600 /etc/wireguard/wg0.conf

      - name: Start VPN
        run: sudo wg-quick up wg0

      - name: Check IP
        run: curl ifconfig.me

      - name: Your commands
        run: |
          echo "Теперь тут выполняются команды через VPN"

      - name: Stop VPN
        if: always()
        run: sudo wg-quick down wg0
