name: Azure IP Check

on:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Show public IP
        run: |
          curl https://api.ipify.org
          echo
          curl https://ipinfo.io
